[mysqld]
character-set-server=utf8mb4
# slow_queryを出力する
slow_query_log = 1
# logを出力する場所
slow_query_log_file = /var/log/mysql/mysqlslow.log
# 全てのクエリを集計
long_query_time = 0
[mysql]
default-character-set=utf8mb4
[client]
default-character-set=utf8mb4
